<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verbo - Confirm</title>

    <div th:replace="fragments/util :: libarys"></div>
</head>

<body>
<div class="page-container">
    <div class="content-wrap">
        <div th:replace="fragments/header :: header"></div>

        <div class="container">
            <div class="alert alert-danger" role="alert">
                <h1>STOP!</h1>
                <hr>
                <h3>Read this carefully!</h3>
                <p></p>
            </div>

            <a type="button" th:href="${sourceUrl}" class="btn btn-success btn-lg">GO BACK</a>
            <a type="button" th:href="${targetUrl}" class="btn btn-danger">Continue</a>
        </div>
    </div>
    <div th:replace="fragments/header :: footer"></div>
</div>
</body>
</html>