<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verbo - Reset password</title>

    <div th:replace="fragments/util :: libarys"></div>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <script th:src="@{/js/users.js}"></script>
</head>

<body>
<div class="page-container">
    <div class="content-wrap">
        <div th:replace="fragments/header :: header"></div>

        <div class="container">
            <div class="alert alert-danger" role="alert">
                <h1>STOP! Do not touch <b>anything</b> here, if you don't know what you're doing!</h1>
                <hr>
                <h3>Read this carefully!</h3>
                This resets the password of <b th:text="${username}"></b>!
                The student can only log in using the password seen on your screen after you reset it. On their first
                login
                however, they will be prompted to change it themselves.<br>
                <hr>
                <b>DO NOT SHOW YOUR SCREEN TO ANYONE EXCEPT THE STUDENT! MAKE SURE ANY FORM OF PROJECTOR IS DISCONNECTED
                    AND NO
                    OTHER STUDENT CAN SEE YOUR SCREEN!!</b>
            </div>

            <a type="button" href="/users" class="btn btn-success btn-lg">GO BACK</a>
            <a type="button" th:href="'/users/' + ${otherID} + '/confirm'" class="btn btn-danger">CONTINUE</a>
        </div>
    </div>
    <div th:replace="fragments/header :: footer"></div>
</div>
</body>
</html>