<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verbo - Reset password</title>

    <div th:replace="fragments/util :: libarys"></div>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <script th:src="@{/js/users.js}"></script>
</head>

<body>
<div class="page-container">
    <div class="content-wrap">
        <div th:replace="fragments/header :: header"></div>

        <div class="container">
            <div class="alert alert-danger" role="alert">
                <h1>IMPORTANT</h1>

                This is the new login data for <b th:text="${username}"></b>:
                <hr>
                <b>Username:</b>
                <kbd class="bg-warning" th:text="${username}"></kbd><br>
                <b>Password:</b>
                <kbd class="bg-warning" th:text="${newPassword}"></kbd>
            </div>
        </div>
    </div>
    <div th:replace="fragments/header :: footer"></div>
</div>
</body>
</html>